<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">

    <!-- {{navigation}} -->

    <nav class='left-nav'>
      <ul class="nav-buttons">

        <ol class="logo-btn" data-link='/'>
            <div class="logo-holder"></div>
        </ol>
        <ol class="btn" data-link='/belleza'>
            <div class="button-holder beauthy">
                <div class="icon-holder center-axis" style="background-image : url({{asset "images/belleza-hover.png"}})"></div>
            </div>
            <h4 class='tag center-top-move'>Belleza</h4>
        </ol>
        <ol class="btn" data-link='/bienestar'>
            <div class="button-holder goodnes">
                <div class="icon-holder center-axis" style="background-image : url({{asset "images/salud-hover.png"}})"></div>
            </div>
            <h4 class='tag center-top-move'>Bienestar</h4>
        </ol>
        <ol class="btn" data-link='/deco'>
            <div class="button-holder deco">
                <div class="icon-holder center-axis" style="background-image : url({{asset "images/deco-hover.png"}})"></div>
            </div>
            <h4 class='tag center-top-move'>Decoraci&#243;n</h4>
        </ol>
        <ol class="btn" data-link='/tv'>
            <div class="button-holder tv">
                <div class="icon-holder center-axis" style="background-image : url({{asset "images/tv-hover.png"}})"></div>
            </div>
            <h4 class='tag center-top-move'>MOIXX.TV</h4>
        </ol>
        <ol class="btn" data-link='/destinos'>
            <div class="button-holder destiny">
                <div class="icon-holder center-axis" style="background-image : url({{asset "images/destinos-hover.png"}})"></div>
            </div>
            <h4 class='tag center-top-move'>Destinos</h4>
        </ol>
        <ol class="btn" data-link='/moda'>
            <div class="button-holder fashion">
                <div class="icon-holder center-axis" style="background-image : url({{asset "images/moda-hover.png"}})"></div>
            </div>
            <h4 class='tag center-top-move'>Moda</h4>
        </ol>
      </ul>
    </nav>

    <div class="site-wrapper">





        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset "js/isotope.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/packary.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/visual-tricks.js"}}"></script>

</body>
</html>
