<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '421398654719834',
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <nav class='left-nav'>
      <ul class="nav-buttons">

        <ol class="logo-btn" data-link='/'>
            <div class="logo-holder btn" data-link="/"></div>
        </ol>
        <ol>
            <ul class="thumb-category-list">

                <ol class="thumb moda" style="background-image : url({{asset "images/moda-v2.png"}})">
                </ol>
                <ol class="thumb tv" style="background-image : url({{asset "images/moixxtv-v2.png"}})">
                </ol>
                <ol class="thumb smaller bienestar" style="background-image : url({{asset "images/salud-hover.png"}})">
                </ol>
                <ol class="thumb belleza" style="background-image : url({{asset "images/belleza-v2.png"}})">
                </ol>
                <ol class="thumb deco" style="background-image : url({{asset "images/deco-v2.png"}})">
                </ol>
                <ol class="thumb smaller destinos" style="background-image : url({{asset "images/destino-v2.png"}})">
                </ol>


            </ul>
        </ol>
        <ol class="category-link-list-container">
            <ul class="category-link-list">
                <ol class="btn" data-link="/tag/moda/" data-ref="moda"><a>Moda</a></ol>
                <ol class="btn" data-link="/tag/tv/" data-ref="tv"><a>MOIXX.TV</a></ol>
                <ol class="btn" data-link="/tag/bienestar/" data-ref="bienestar"><a>Bienestar</a></ol>
                <ol class="btn" data-link="/tag/belleza/" data-ref="belleza"><a>Belleza</a></ol>
                <ol class="btn" data-link="/tag/deco/" data-ref="deco"><a>Decoraci&#243;n</a></ol>
                <ol class="btn" data-link="/tag/destinos/" data-ref="destinos"><a>Destinos</a></ol>
            </ul>
        </ol>
      </ul>
    </nav>


        <div class="site-wrapper">





        {{! Everything else gets inserted here }}
        {{{body}}}


        </div>




     <footer class="main-footer">
        <img class="center-axis logo"  src="{{asset "images/btn-logo-trans.png"}}" alt="Moixx">
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset "js/isotope.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/packary.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/visual-tricks.js"}}"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55ed11ceffb58caa" async="async"></script>

</body>
</html>
