<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">


    <nav class='left-nav'>
      <ul class="nav-buttons">

        <ol class="logo-btn" data-link='/'>
            <div class="logo-holder"></div>
        </ol>
        <ol>
            <ul class="category-link-list">
                <ol class="btn" data-ref="belleza"><a href="/belleza">Belleza</a></ol>
                <ol class="btn" data-ref="bienestar"><a href="/bienestar">Bienestar</a></ol>
                <ol class="btn" data-ref="deco"><a href="/deco">Decoraci&#243;n</a></ol>
                <ol class="btn" data-ref="tv"><a href="/tv">MOIXX.TV</a></ol>
                <ol class="btn" data-ref="destinos"><a href="/destinos">Destinos</a></ol>
                <ol class="btn" data-ref="moda"><a href="/moda">Moda</a></ol>
            </ul>
        </ol>
        <ol>
            <ul class="thumb-category-list">
                <ol class="thumb belleza" style="background-image : url({{asset "images/belleza-hover.png"}})">
                </ol>
                <ol class="thumb smaller bienestar" style="background-image : url({{asset "images/salud-hover.png"}})">
                </ol>
                <ol class="thumb deco" style="background-image : url({{asset "images/deco-hover.png"}})">
                </ol>
                <ol class="thumb tv" style="background-image : url({{asset "images/tv-hover.png"}})">
                </ol>
                <ol class="thumb smaller destinos" style="background-image : url({{asset "images/destinos-hover.png"}})">
                </ol>
                <ol class="thumb smaller moda" style="background-image : url({{asset "images/moda-hover.png"}})">
                </ol>
            </ul>
        </ol>
      </ul>
    </nav>


        <div class="site-wrapper">





        {{! Everything else gets inserted here }}
        {{{body}}}


        </div>




     <footer class="main-footer">
        <img class="center-axis logo"  src="{{asset "images/btn-logo.png"}}" alt="Moixx">
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset "js/isotope.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/packary.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/visual-tricks.js"}}"></script>

</body>
</html>
