<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    <!-- {{navigation}} -->

    <header class="main-header">

        <nav class="main-nav top overlay clearfix">

            <a class="top-link link-1 top-nav-image" href="{{@blog.url}}">
                <img class='hover inline' src="{{asset "images/tiendas-black.png"}}"/>
                <img class='regular inline' src="{{asset "images/tiendas-light.png"}}"/>
                <img class='hover-gold inline' src="{{asset "images/tiendas-gold.png"}}"/>
                <span class='label'>Tiendas</span>
            </a>


            <a class="blog-logo top-nav-image" href="{{@blog.url}}">
                <img class='hover' src="{{asset "images/dark-logo.png"}}"/>
                <img class='regular' src="{{asset "images/light-logo.png"}}"/>
                <img class='hover-gold' src="{{asset "images/gold-logo.png"}}"/>
            </a>

        </nav>

    </header>

    <nav class='left-nav'>
      <ul class="nav-buttons">

        <ol class="logo-btn">
            <a href="/">
                <div class="logo" style="background-image : url({{asset "images/btn-logo.png"}})"></div>
            </a>
        </ol>
        <ol class="btn">
          <a href="/tag/belleza/">
            <!-- <div class="button-holder" style="background-image : url({{asset "images/belleza-btn.png"}})"></div> -->
            <h4 class='tag'>Belleza</h4>
          </a>
        </ol>
        <ol class="btn">
          <a href="/tag/bienestar/">
            <!-- <div class="button-holder" style="background-image : url({{asset "images/bienestar-btn.png"}})"></div> -->
            <h4 class='tag'>Bienestar</h4>
          </a>
        </ol>
        <ol class="btn">
          <a href="/tag/deco/">
            <!-- <div class="button-holder" style="background-image : url({{asset "images/deco-btn.png"}})"></div> -->
            <h4 class='tag'>Decoraci&#243;n</h4>
          </a>
        </ol>
        <ol class="btn">
          <a href="/tag/tv/">
            <!-- <div class="button-holder" style="background-image : url({{asset "images/tv-btn.png"}})"></div> -->
            <h4 class='tag'>MOIXX - Tv.</h4>
          </a>
        </ol>
        <ol class="btn">
          <a href="/tag/destinos/">
            <!-- <div class="button-holder" style="background-image : url({{asset "images/viaje-btn.png"}})"></div> -->
            <h4 class='tag'>Destinos</h4>
          </a>
        </ol>
        <ol class="btn">
          <a href="/tag/moda/">
            <!-- <div class="button-holder" style="background-image : url({{asset "images/moda-btn.png"}})"></div> -->
            <h4 class='tag'>Moda</h4>
          </a>
        </ol>
      </ul>
      <div class="nav-controller" style="background-image : url({{asset "images/isotipo.png"}})">
      </div>
    </nav>

    <div class="site-wrapper">





        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset "js/isotope.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/packary.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/visual-tricks.js"}}"></script>

</body>
</html>
