{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}


<header class="main-header">



    <div class="top-image-background" style="background-image : url({{@blog.cover}});">
      <div class="cover"></div>
    </div>

    <nav class="main-nav floating overlay clearfix">

        <a class="top-link link-1 top-nav-image" href="{{@blog.url}}" style="display : none;">
            <img class='dark inline' src="{{asset "images/tiendas-black.png"}}"/>
            <img class='light inline' src="{{asset "images/tiendas-light.png"}}"/>
            <img class='golden inline' src="{{asset "images/tiendas-gold.png"}}"/>
            <span class='label'>Tiendas</span>
        </a>


        <a class="blog-logo top-nav-image" href="{{@blog.url}}">
            <img class='dark' src="{{asset "images/dark-logo.png"}}"/>
            <img class='light' src="{{asset "images/light-logo.png"}}"/>
            <img class='golden' src="{{asset "images/gold-logo.png"}}"/>
        </a>

        <ul class="social-media-link hide-mobile">
          <ol class='social-link'>
            <a href="https://www.facebook.com/MOIXXperu" target="_blank" class="top-nav-image">
              <img src="{{asset "images/dark-fb.png"}}" alt="" class="dark icon">
              <img src="{{asset "images/light-fb.png"}}" alt="" class="light icon">
              <img src="{{asset "images/gold-fb.png"}}" alt="" class="golden icon">
            </a>
          </ol>
          <ol class='social-link margin-left-1'>
            <a href="https://instagram.com/moixxlife" target="_blank" class="top-nav-image">
              <img src="{{asset "images/black-ins.png"}}" alt="" class="dark icon">
              <img src="{{asset "images/light-ins.png"}}" alt="" class="light icon">
              <img src="{{asset "images/gold-ins.png"}}" alt="" class="golden icon">
            </a>
          </ol>
          <ol class='social-link margin-left-1'>
            <a href="https://www.youtube.com/channel/UCZmwnuaC2Ud-Glkjnv6N2_w" target="_blank" class="top-nav-image">
              <img src="{{asset "images/dark-yt.png"}}" alt="" class="dark icon">
              <img src="{{asset "images/light-yt.png"}}" alt="" class="light icon">
              <img src="{{asset "images/gold-yt.png"}}" alt="" class="golden icon">
            </a>
          </ol>
          <ol class='social-link margin-left-1'>
            <a href="https://open.spotify.com/user/12159395511" target="_blank" class="top-nav-image">
              <img src="{{asset "images/black-sp.png"}}" alt="" class="dark icon">
              <img src="{{asset "images/light-sp.png"}}" alt="" class="light icon">
              <img src="{{asset "images/gold-sp.png"}}" alt="" class="golden icon">
            </a>
          </ol>
          <ol class='social-link margin-left-1'>
            <a href="https://es.pinterest.com/moixx/" target="_blank" class="top-nav-image">
              <img src="{{asset "images/black-pin.png"}}" alt="" class="dark icon">
              <img src="{{asset "images/light-pin.png"}}" alt="" class="light icon">
              <img src="{{asset "images/gold-pin.png"}}" alt="" class="golden icon">
            </a>
          </ol>
          <ol class='social-link margin-left-1'>
            <a href="https://twitter.com/MoixxLife" target="_blank" class="top-nav-image">
              <img src="{{asset "images/black-tw.png"}}" alt="" class="dark icon">
              <img src="{{asset "images/light-tw.png"}}" alt="" class="light icon">
              <img src="{{asset "images/gold-tw.png"}}" alt="" class="golden icon">
            </a>
          </ol>
        </ul>

    </nav>

</header>



{{! The main content area on the homepage }}


    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}


