{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header">

  <nav class="main-post-nav overlay clearfix">
    <a class="top-link link-1 top-nav-image" href="{{@blog.url}}" style="display : none;">
        <img class='dark inline' src="{{asset "images/tiendas-black.png"}}"/>
        <img class='light inline' src="{{asset "images/tiendas-light.png"}}"/>
        <img class='golden inline' src="{{asset "images/tiendas-gold.png"}}"/>
        <span class='label'>Tiendas</span>
    </a>


    <a class="blog-logo top-nav-image" href="{{@blog.url}}">
        <img class='dark' src="{{asset "images/dark-logo.png"}}"/>
        <img class='light' src="{{asset "images/light-logo.png"}}"/>
        <img class='golden' src="{{asset "images/gold-logo.png"}}"/>
    </a>

    <ul class="social-media-link hide-mobile">
      <ol class='social-link'>
        <a href="https://www.facebook.com/MOIXXperu" target="_blank" class="top-nav-image">
          <img src="{{asset "images/dark-fb.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-fb.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-fb.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://instagram.com/moixxlife" target="_blank" class="top-nav-image">
          <img src="{{asset "images/black-ins.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-ins.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-ins.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://www.youtube.com/channel/UCZmwnuaC2Ud-Glkjnv6N2_w" target="_blank" class="top-nav-image">
          <img src="{{asset "images/dark-yt.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-yt.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-yt.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://open.spotify.com/user/12159395511" target="_blank" class="top-nav-image">
          <img src="{{asset "images/black-sp.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-sp.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-sp.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://es.pinterest.com/moixx/" target="_blank" class="top-nav-image">
          <img src="{{asset "images/black-pin.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-pin.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-pin.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://twitter.com/MoixxLife" target="_blank" class="top-nav-image">
          <img src="{{asset "images/black-tw.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-tw.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-tw.png"}}" alt="" class="golden icon">
        </a>
      </ol>
    </ul>
  </nav>

  <div class="separator">
    <div class="reading-follow"></div>
  </div>

  <aside class="post-navegation">
      {{#next_post}}
      <div class="btn" data-link='{{url}}'>
          <span class="center-axis full-column center-text">&larr; Siguiente publicaci&#243;n</span>
      </div>
      {{else}}
          <div class="btn-null"></div>
      {{/next_post}}
      {{#prev_post}}
      <div class="btn" data-link='{{url}}'>
          <span class="center-axis full-column center-text">Publicaci&#243;n anterior &rarr;</span>
      </div>
      {{else}}
          <div class="btn-null"></div>
      {{/prev_post}}
  </aside>
</header>

<nav class="post-go-up hide-small-screen">
  <img class='regular' src="{{asset "images/post-up-raw.jpg"}}" alt="">
  <img class='hover' src="{{asset "images/post-up.jpg"}}" alt="">
</nav>

<div class="middle-section-post">

  <main id='post-content' class="content" role="main">
      <article class="{{post_class}}">

          <header class="post-header">
              <h1 class="post-title">{{title}}</h1>
              <section class="post-meta">
                  <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
              </section>

              {{#author}}
                <section class="author">
                    <div class="author-holder margin-bottom-2">
                        <img class="author-img" src="{{image}}" alt="">
                        <h3 class="author-name">{{name}}</h3>
                    </div>
                    {{#if bio}}
                        <p class="bio">{{bio}}</p>
                    {{else}}
                        <!-- <p class="read-more">Lea <a href="{{url}}">m&#225;s</a> de este autor.</p> -->
                    {{/if}}
                </section>
              {{/author}}

          </header>

          <section class="post-content">
              {{content}}
          </section>

          <footer class="post-footer">

          {{! Everything inside the #author tags pulls data from the author }}
              <section class="share">
                  <div class="share-buttom">
                    <div class="fb-like" data-href="{{url absolute="true"}}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                    <div class="fb-share-button" data-href="{{url absolute="true"}}" data-layout="button"></div>
                  </div>

              </section>

          </footer>

      </article>
  </main>

  <div class="comments-holder">

    <div class="fb-comments" data-href="http://www.moixxlife.com" data-numposts="5" data-width='100%'></div>
    <div id="disqus_thread"></div>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'moixxblog';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>

</div>

<aside class="general-aside-post-content">

  <div class="division-line"></div>

  <img src="{{asset "images/banner-2.png"}}" alt="" class="banner">

  <div class="aside-embed-instagram"></div>

  <div class="division-line"></div>

  <h3 class="aside-tittle">Instagram</h3>

  <script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/4f721fb2f34ba4c5b3ac9a93daf901c39096ceff.html" id="instansive_4f721fb2f3" name="instansive_4f721fb2f3"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

  <div class="division-line-thin"></div>

  <h3 class="aside-tittle">Recive las &#250;ltimas noticias</h3>

  <input id='sub-email' class='sub-input border-box' type="text" placeholder='Tu email...'>
  <a id='sub-list' class="sub-btn border-box"></a>
  <div class="division-line-thin left"></div>

  <div id='recommended-content' class="recommended-content">

    <h3 class="aside-tittle">Recomendado para ti</h3>

    <div class="recomendation-container">
      <a href="/rompe-la-rutina/"><p class="recomendation">¡Rompe la rutina!</p></a>
    </div>

    <div class="recomendation-container">
      <a href="/lookbook-moixx-o/"><p class="recomendation">Lookbook Moixx O/I 2015</p></a>
    </div>

    <div class="recomendation-container">
      <a href="/contouringperfecto/"><p class="recomendation">Técnica para hacer un contouring a la perfección</p></a>
    </div>

    <div class="recomendation-container">
      <a href="/pancakes-saludables-por-kiara-ventura/"><p class="recomendation">Pancakes saludables por Kiara Ventura</p></a>
    </div>

    <div class="recomendation-container">
      <a href="/marsala-un-look-casual-chic/"><p class="recomendation">Marsala - Un look casual chic</p></a>
    </div>

    <div class="division-line-thin margin-top-1 left"></div>
  </div>


</aside>


{{/post}}
