{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header">

<nav class="main-post-nav overlay clearfix">

    <a class="top-link link-1 top-nav-image" href="{{@blog.url}}">
        <img class='dark inline' src="{{asset "images/tiendas-black.png"}}"/>
        <img class='light inline' src="{{asset "images/tiendas-light.png"}}"/>
        <img class='golden inline' src="{{asset "images/tiendas-gold.png"}}"/>
        <span class='label'>Tiendas</span>
    </a>


    <a class="blog-logo top-nav-image" href="{{@blog.url}}">
        <img class='dark' src="{{asset "images/dark-logo.png"}}"/>
        <img class='light' src="{{asset "images/light-logo.png"}}"/>
        <img class='golden' src="{{asset "images/gold-logo.png"}}"/>
    </a>

    <ul class="social-media-link">
      <ol class='social-link'>
        <a href="https://www.facebook.com/MOIXXperu" target="_blank" class="top-nav-image">
          <img src="{{asset "images/dark-fb.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-fb.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-fb.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://instagram.com/moixxlife" target="_blank" class="top-nav-image">
          <img src="{{asset "images/black-ins.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-ins.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-ins.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://www.youtube.com/channel/UCZmwnuaC2Ud-Glkjnv6N2_w" target="_blank" class="top-nav-image">
          <img src="{{asset "images/dark-yt.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-yt.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-yt.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://open.spotify.com/user/12159395511" target="_blank" class="top-nav-image">
          <img src="{{asset "images/black-sp.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-sp.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-sp.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://es.pinterest.com/moixx/" target="_blank" class="top-nav-image">
          <img src="{{asset "images/black-pin.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-pin.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-pin.png"}}" alt="" class="golden icon">
        </a>
      </ol>
      <ol class='social-link margin-left-1'>
        <a href="https://twitter.com/MoixxLife" target="_blank" class="top-nav-image">
          <img src="{{asset "images/black-tw.png"}}" alt="" class="dark icon">
          <img src="{{asset "images/light-tw.png"}}" alt="" class="light icon">
          <img src="{{asset "images/gold-tw.png"}}" alt="" class="golden icon">
        </a>
      </ol>
    </ul>


</nav>

    <div class="separator"></div>

    <aside class="post-navegation">
        {{#next_post}}
        <div class="btn" data-link='{{url}}'>
            <span class="center-axis">&larr; {{title}}</span>
        </div>
        {{else}}
            <div class="btn-null"></div>
        {{/next_post}}
        {{#prev_post}}
        <div class="btn" data-link='{{url}}'>
            <span class="center-axis">{{title}} &rarr;</span>
        </div>
        {{else}}
            <div class="btn-null"></div>
        {{/prev_post}}
    </aside>

</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

    </article>
</main>


{{/post}}
