<main id="content" class="content" role="main">

    {{! This is the post loop - each post will be output using this markup }}

    <div class="gutter-sizer"></div>

    {{#foreach posts}}

    <article data-url='{{url}}' class="{{post_class}} btn">
        <header class="post-header">

            {{#if tags}}




                    {{#checkVideo tags}}


                        <div class="video-container hide-mobile">
                            <iframe type="text/html" src="http://www.youtube.com/embed/{{videoUrl tags}}?autoplay=0&amp;modestbranding=1&amp;rel=0" frameborder="0"></iframe>
                        </div>

                        <div class="post-image show-mobile" style="background-image : url({{image}})"></div>

                    {{else}}

                        <div class="post-image" style="background-image : url({{image}})"></div>

                    {{/checkVideo}}





            {{else}}

                {{#if image}}

                    <div class="post-image" style="background-image : url({{image}})"></div>

                {{/if}}

            {{/if}}


        </header>
        <section class="post-list-body border-box">

            <h2 class="post-title margin-bottom-2"><a href="{{url}}">{{{title}}}</a></h2>

            <div>
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                <img class='icon' src="{{asset "images/calendar.png"}}" alt="">
            </div>

            <p class="excerpt">{{excerpt words="10"}} <a class="read-more" href="{{url}}">&raquo;</a></p>

            {{#author}}
                <div class="author-holder margin-bottom-2">
                    <img class="author-img" src="{{image}}" alt="">
                    <h3 class="author-name">{{name}}</h3>
                </div>
            {{/author}}
        </section>
    </article>



    {{/foreach}}

</main>

{{! Previous/next page links - displayed on every page }}
<div class="pagination">
    {{pagination}}
</div>
